/* 
    RESET
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* 
    GENERAL
*/

i {
    margin-right: 5px;
}

/* 
   HEADER
*/
.header {
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 1;
}

.window {
    height: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: black;
}

.window * {
    border-radius: 5px;
}

.fa-table-cells {
    margin-right: 5px;
}

/*
    MAIN
*/
main {
    display: flex;
}

.logo #small-logo {
    display: none;
    width: 30px;
}

.sidebar {
    background-color: #040404;
    color: #fff;
    width: 200px;
    height: calc(100vh - 100px);
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar a, .playlist, .install {
    color: #A3A3A3;
}
  
.logo img {
    width: 100%;
}

.sidebar li img {
    width: 30px;
}
  
ul {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}
  
li {
    margin-bottom: 10px;
    
}
  
a {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.playlist i {
    font-size: 2em;
}
  
.content {
    flex: 1;
    padding: 20px;
}

.account {
    justify-content: flex-end;
    font-size: 0.8em;
}

.account > * {
    margin: 10px 0;
}

.side-img {
    height: 20px;
    width: 22px;
    display: inline-block;
}

.profile img {
    object-fit: cover;
    background-color: #737373;
    border-radius: 50%;
}

.account div span {
    font-weight: bold;
}

/* 
   FOOTER
*/

.footer-soundbar {
    background-color: #282828;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100px;
}
  
.track-info {
    display: flex;
    align-items: center;
}
  
.track-info img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.song-details {
    margin-right: 20px;
}

.song-details p,.song-bar p {
    font-size: 0.8em;
}

.song-details p, .icons i {
    color: #737373;
}

.song-details h4 {
    margin: 0;
}

.playback-controls {
    text-align: center;
}

.playback-controls i {
    margin: 0 10px;
    margin-bottom: 5px;
    cursor: pointer;
    font-size: 1.3em;
}

.song-bar {
    display: flex;
}

.volume-control {
    text-align: right;
}
  
.volume-control i {
    margin: 0 5px;
}
  
.song-slider {
    width: 100%;
}

.volume-slider {
    width: 30%;
}

.song-control {
    width: 40%;
}



/* 
    RESPONSIVE
*/

/* PC SMALL */
@media screen and (max-width: 1100px) {
    
}

/* TABLET */
@media screen and (max-width: 700px) {
    .icons {
        display: block;
    }

}

/* SMARTPHONE */
@media screen and (max-width: 600px) {

    .logo #small-logo {
        display: block;
    }

    #full-logo {
        display: none;
    }

    .sidebar img {
        display: block;
    }

    .sidebar span {
        display: none;
    }

    .sidebar {
        width: 60px;
        align-items: center;
    }

    hr {
        display: none;
    }
}

    

