/* 
    RESET
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* 
    GENERAL
*/

i {
    margin-right: 5px;
}

.playlist h3:hover, li a:hover, .fa-heart:hover, .fa-folder:hover {
    color: white;
}

/* 
   HEADER
*/
.header {
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 1;
}

.window {
    height: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: black;
}

.window * {
    border-radius: 5px;
}

.fa-table-cells {
    margin-right: 5px;
}

/*
    MAIN
*/
main {
    display: flex;
}

.logo #small-logo {
    display: none;
    width: 30px;
}

.sidebar {
    background-color: #040404;
    color: #fff;
    width: 200px;
    height: calc(100vh - 100px);
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar a, .playlist, .install {
    color: #A3A3A3;
}
  
.logo img {
    width: 100%;
}

.sidebar li img {
    width: 30px;
}
  
ul {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}
  
li {
    margin-bottom: 10px;
    
}
  
a {
    text-decoration: none;
    display: flex;
    align-items: center;
    position: relative;
}

#border-left {
    border-left: 3px solid #ADFF2F;
    margin-left: -20px;
    padding-left: 20px;
}

.header-nav #underline:before {
    position: absolute;
    left: 35px;
    top: 1.2em;
    height: 0;
    width: 30px;
    content: '';
    border-top: 3px solid #ADFF2F;
}

.playlist i {
    font-size: 2em;
}
  
.account {
    justify-content: flex-end;
    font-size: 0.8em;
}

.account > * {
    margin: 10px 0;
}

.side-img {
    height: 20px;
    width: 20px;
    display: inline-block;
}

.side-img img {
    object-fit: cover;
}

.account * {
    vertical-align: middle;
}

.profile img {
    object-fit: cover;
    background-color: #737373;
    border-radius: 50%;
}

.account div span {
    font-weight: bold;
}

.container {
    width: calc(100vw - 200px);
    display: flex;
    flex-wrap: wrap;
    background-color: #141922;
    color: white;
    height: calc(100vh - 100px);
    overflow: auto;
    flex-grow: 1;

}

.install, hr {
    color: #737373;
}

.install:hover {
    color: white;
}

.header {
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    height: 80px;
}

.button-container {
    padding: 20px;
}

.button {
    color: white;
    border:1px solid white;
    border-radius: 25px;
    padding: 20px 40px;
    vertical-align: middle;
    line-height: 30px;
}

.button:hover {
    transform: scale(1.1);
}

.header-nav {
    text-align: center;
    justify-content: center;
    vertical-align: middle;
    width: 100%;
}

.header-nav li {
    display: inline-block;
    padding: 0 10px;
}

li a {
    text-decoration: none;
    color: #7A7D81;
}

.my-row {
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 30px;
}

.my-col {
    width: calc((100% / 6) - 20px);
    margin: 10px;
}
.song-img{
    position: relative;
}

.song-img img {
    width: 100%;
    height: 100%;
}

.song-img .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    color: #FFF;
}

.song-img .overlay i {
    font-size: 4em;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.song-img:hover .overlay {
    display: block;
    background: rgba(0, 0, 0, .6);
}

.circle img {
    border-radius: 50%;
}

.song-info > * {
    text-align: center;
}

.container h2, .container h4 {
    margin-left: 20px;
}

.container h4 {
    color: #737373;
    font-size: 0.8em;
}

.song-info p {
    color:#737373;
}

.second-section {
    width: 100%;
}


/* 
   FOOTER
*/

.footer-soundbar {
    background-color: #282828;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100px;
}
  
.track-info {
    display: flex;
    align-items: center;
}
  
.track-info img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.song-details {
    margin-right: 20px;
}

.song-details p,.song-bar p {
    font-size: 0.8em;
}

.song-details p, .icons i {
    color: #737373;
}

.song-details:hover p {
    color: white;
    text-decoration: underline;
}

.song-details h4 {
    margin: 0;
}

.playback-controls {
    text-align: center;
    line-height: 30px;
}

.playback-controls:hover .fa-circle-play {
    transform: scale(1.3);
}

.playback-controls i {
    padding: 0 5px;
    padding-bottom: 5px;
    cursor: pointer;
    font-size: 1.4em;
}

.song-bar {
    display: flex;
}

.volume-control {
    text-align: right;
}
  
.volume-control i {
    margin: 0 5px;
}
  
.song-slider {
    width: 100%;
}

.volume-slider {
    width: 30%;
}

.song-control {
    width: 40%;
}

/* 
    RESPONSIVE
*/

/* PC SMALL */
@media screen and (max-width: 1100px) {

    .my-col {
        width: calc((100% / 4) - 20px);
    }
}

/* TABLET */
@media screen and (max-width: 700px) {

    .my-col {
        width: calc((100% / 2) - 20px);
    }

    .icons {
        display: block;
    }

}

/* SMARTPHONE */
@media screen and (max-width: 600px) {

    .logo #small-logo {
        display: block;
    }

    #full-logo {
        display: none;
    }

    .sidebar img {
        display: block;
    }

    .sidebar span {
        display: none;
    }

    .sidebar {
        width: 60px;
        align-items: center;
    }

    hr {
        display: none;
    }

    .container {
        width: calc(100vw - 60px);
    }
}

    

